argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Deprecated==1.2.18
Django==5.2
django-cors-headers==4.7.0
django-htmx==1.23.0
django-ratelimit==4.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
googleapis-common-protos==1.70.0
grpcio==1.71.0
idna==3.10
importlib_metadata==8.6.1
inflection==0.5.1
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-dbapi==0.53b1
opentelemetry-instrumentation-django==0.53b1
opentelemetry-instrumentation-logging==0.53b1
opentelemetry-instrumentation-psycopg2==0.53b1
opentelemetry-instrumentation-requests==0.53b1
opentelemetry-instrumentation-wsgi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
packaging==24.2
protobuf==5.29.4
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
python-dotenv==1.1.0
python-json-logger==3.3.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
sqlparse==0.5.3
structlog==25.2.0
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.4.0
wrapt==1.17.2
zipp==3.21.0
